<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Date and Time</title>
</head>
<style>
* {
    margin: 10px auto;
}

h4 {
    border: 3px solid black;
    font-family:Times New Roman, sans-serif;
    text-align: center;
    width:250px;
    font-size: 18px;
}

p {
    border: 3px solid black;
    font-family: Monospace, Monaco;
    color:black;
    text-align: center;
    height:70px;
    width:400px;
    font-size: 30px;
    padding: 20px;
}
</style>
<body>
    <h4>The current time and date:</h4> <br>
    <p> {{date}} <br> {{time}}</p>
</body>
</html>